*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.about{
   
    height: 100%;
  
  
   
   
}

.about-wrapper{
    background-color: white;
   align-content: center;
    display: flex;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
margin: 0 auto;
border-radius: 15px;

   
    
}

.textP{
    font-size: 18px;
    line-height: 30px;
   
}


.image-box{
    background-image: url("https://img.freepik.com/free-photo/young-smiling-afro-american-cook-chef-uniform-crosses-arms-isolated-orange-wall_141793-33424.jpg?w=740&t=st=1702823527~exp=1702824127~hmac=8d2b022dfb822c0bf98a4a9b9d0e791d8d51a0336c67d277741ea78f3af7c15a");
    background-position: center;
    background-size: cover;
}

.about-text{
    padding: 100px 60px;
   
}

